
.continer-cards {
  background-color: #00000096;
}
.name-card {
  position: absolute;
  padding-left: 10px;
  padding-top: 4px;
  padding: 4px;
  color: white;
  background:#00000096 ;
}
.name-card:hover {
 color: white;
 
}
.temperament {
  color: white;
  text-align: left;
}

.data {
  color: white;
  text-align: right;
  padding: 5px 0 5px
}
.card-box {
  /* height: 100%; */
}
