.container-dog-detail {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #00000096;;
}
.main-dog-detail {
  margin-top: 30px;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.temperament-dog-detail {
  display: flex;
  padding: 8px;
  padding-left: 0;
  text-align: left;
}
.contain-text-dog-detail {
  display: flex;
  width: 45%;
  flex-direction: column-reverse;
  align-items: flex-start;
  color: white;
  padding-top: 15px;
}

.img-dog-detail {
  border-radius: 143px;
  width: 600px;
  margin-top: 8px;
}