.main-container {
    background: green;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
.title-landing {
}

.main-container div a {
  text-decoration: none;
  color: black;
  cursor: pointer;

}