.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* min-height: 670px; */
  position: relative;
}

.img {
  width: 100%;
  display: block;
}

.btn-prev-next {
  position: absolute;
  top: 45%;
  font-size: 38px;
  background:#52b115c9;
  border-radius: 30px;
  height: 60px;
  width: 38px;
  z-index: 1;
} 

.btn-right {
  left: 95%;
}

.btn-left {
  right: 95%;
  transform: rotate(180deg);
}