.container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 100vh;
}

img {
  
  max-width: 100%;
  max-height: 200px;
  
}

.btn-left {
position: absolute;
  right: 95%;
  top: 45%;
  transform: rotate(90deg);
  font-size: 38px;
  background:#52b115c9;
  border: none;
  border-radius: 30px;
    height: 60px;
    width: 38px;
  
}

.btn-right {
  position: absolute;
    left: 95%;
    top: 45%;
    transform: rotate(-90deg);
      font-size: 38px;
      background: #52b115c9;
      border: none;
      border-radius: 30px;
      height: 60px;
        width: 38px;
}


