.container-landing {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 110px;
}

h1 {
    font-size: 36px;
}

.btn-landing-page {
    width: 132px;
    height: 25px;
}